body {
  margin: 0;
  background-color: slategray;
}

.vacation_card {
  background-color: turquoise;
  width: 550px;
  padding-top: 20px;
  margin: 10px auto 0 auto; 
}

.img {
  margin-left: 50px;
  padding-top: 15px;
}

.place, .price, .timeToGo {
  font-family: "Segoe Script";
  padding-left: 15px;
}